# Size img is recommend to be 480x480 pixels
# Use a uniform color background in your images to make it transparent in OBS.
# WARNING!!!! Gif files are not compatible with the software.

# Mute image of the avatar
MUTE_IMG=/res/img/avatar_mute.png

# Talk image of the avatar
TALK_IMG=/res/img/avatar_talk.png