# The name of the model you want to use. (default: llama2)
CHAT_MODEL=llama2

# The address that can communicate with the ollama server.
OLLAMA_SERVER=http://127.0.0.1:11434

# The path of the lore of the ai PngTuber
PATH_LORE=/res/content/lore.txt 

#The path of the substitles of the chatbot (use for OBS subtitles)
PATH_SUBS=/res/content/subs.txt