# List of all language code
# https://en.wikipedia.org/wiki/List_of_ISO_639_language_codes

# 1, enable the translator
# 0, disable
TRANSLATOR=1

# User message language to translate (better english because the chatbox is build in that language)
USER_LANG_TRANSLATE=en

# Chatbot language to translate
CHATBOT_LANG=fr