# 1, if you use free text to voice(GTTS).
# 0, if you use ElevenLabs as voice.
TTS=1

# Full list of languages: https://gtts.readthedocs.io/en/v2.1.1/_modules/gtts/lang.html
GTTS_LANG=fr-ca

# Url of ElevenLabs API for the voice of the chatbot.
URL_ELEVENLAB=https://api.elevenlabs.io/v1/text-to-speech/

# API key for ElevenLabs
API_KEY_ELEVENLAB=api_key_here

# Voice id for the voice of ElevenLabs
VOICE_ID=voice_id_here

#Whre is the voice file of the chatbot.
PATH_AUDIO_FILE=/res/sound/output.mp3 # NOT MODIFY